## Python Basics

In [12]:
import os 
import pandas as pd 
import numpy as np

### Data Types

There are different data types in Python:  strings, integers, floats or booleans. You can store these data types as variables, by making the variable name equal to your data type.

In [1]:
#example of a string 
string_ex = 'Hi!'
int_ex = 2
float_ex = 2.5
bool_ex = True

You can always check what data type a variable is by **type(your_variable_name)**:

In [2]:
type(int_ex)

int

You can manually set a variable to a data type, for example if I wanted to convert the float example above into an integer:

In [5]:
convert_ex = int(float_ex)
print(convert_ex)

2

It is now an integer, but note that the **value has changed**

### There are multiple formats to store data in: lists, dictionaries, tuples, arrays

* A list is data stored in [ ] and is mutable - meaning it can be changed. 
* Dictionaries have key:value pairs and are stored in curly brackets {}. 
* Tuples can save multiple data types, but are immutable meaning they can't be changed once they are created and are created with ().

In [17]:
list_ex = [1, 2, 3]
dictionary_ex = { 'animal_id' : '130', 'sleepstage': 'REM'}
tuple_ex = (list_ex, dictionary_ex)

## Writing functions

Functions are very useful if you want to perform the same operation multiple times. When you write a function it always has the same format

In [25]:
value = 2 
other_value = 3
new_value = value + other_value
new_value

5

if I wanted to add multiple values but do not want to hardcode it each time I'll write a function

In [21]:
def adding_values(value, other_value):
    new_value = value + other_value
    return new_value

### call function

In [24]:
adding_values(value, other_value)

5

* Functions always start with **def** and then the **name_of_function**, the **inputs** to the function in brackets followed by a colon (:) 
* the return argument is the output of the function that you would like

### General format of a function

In [23]:
def name_of_function(input_1, input_2):
    desired_output = operation(input_1, input_2)
    return desired_output

## For Loops

If you want to do the same thing over and over again we use loops.

The most common loop is the for loop because it starts with the special name **for**

In [26]:
N = 10
for i in range(N):
    print(i)

0
1
2
3
4
5
6
7
8
9

### General format of a for loop

In [28]:
for vaariable in range(number_of iterations>):
    <statement on new indented line using tabs or spaces>

SyntaxError: invalid syntax (2373817254.py, line 1)